version: '2'
services:
    nginx:
#        image: xiaozhuai/nginx-alpine:latest
        build: ../nginx-alpine
        volumes:
            - phpsocket:/var/run/php
            - ./code:/code
            - ./site.conf:/etc/nginx/conf.d/default.conf
        ports:
            - 5000:80
        depends_on:
            - php-fpm
    php-fpm:
#        image: xiaozhuai/php-fpm-alpine:latest
        build: .
        volumes:
            - phpsocket:/var/run/php
            - ./code:/code
            - ./zzz_www.conf:/etc/php7/php-fpm.d/zzz_www.conf
            - ./zzz_custom.ini:/etc/php7/conf.d/zzz_custom.ini

volumes:
    phpsocket:
